# Ignore dataset directory
dataset/

# Ignore virtual environment directory
.venv/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore model files (if any)
*.h5

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore other temporary files
*.tmp
